<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <pf-image :src="require('@/assets/img/MyPuckLogo.png')" alt="AdminLTE Logo" class="login-image" rounded
            height="150" width="150" style="opacity: 0.8">
        </pf-image>
        <div class="card-header text-center">
            <router-link to="/" class="h1">
                <b>{{ $t("labels.admin") }}</b>{{ $t("labels.lte")}}
            </router-link>
        </div>
        <div class="card-body">
            <p class="login-box-msg">{{ $t("labels.signInToStart") }}</p>

            <form @submit.prevent="loginByAuth">
                <app-input icon="envelope" class="mb-3" type="email" placeholder="Email" autocomplete="off"
                    v-model="email" />
                <app-input icon="lock" class="mb-3" type="password" placeholder="Password" autocomplete="off"
                    v-model="password" v-on:keyup.enter="loginByAuth" />

                <div class="row">
                    <div class="col-12">
                        <pf-button type="submit" block="true" :loading="isAuthLoading"
                            :disabled="isFacebookLoading || isGoogleLoading">
                            {{ $t("labels.signIn") }}
                        </pf-button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>