<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>All Games</h1>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="progress-spinner" v-if="loadingSpinner">
        <ProgressSpinner />
    </div>
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <PrimeToast />
            <div class="card-header">
                <h3 class="card-title">Games List</h3>
            </div>
            <DataTable :value="games" v-model:filters="filters" filterDisplay="row" :loading="loading"
                :rowsPerPageOptions="[5, 10, 20, 50]" :rows="10"
                :globalFilterFields="['displayName', 'email', 'gameLocation']" tableStyle="min-width: 50rem"
                dataKey="bookingId" showGridlines scrollable scrollHeight="700px" paginator resizableColumns stripedRows
                columnResizeMode="fit" ref="dt" tableClass="p-datatable-sm" editMode="row"
                v-model:expandedRows="expandedRows">
                <template #header>
                    <div class="flex justify-content-end">
                        <PrimeButton icon="pi pi-external-link" label="Export" @click="exportCSV($event)"
                            style="margin-right: 1rem;" />
                        <span class="p-input-icon-left">
                            <i class="pi pi-search" />
                            <InputText v-model="filters['global'].value" placeholder="Keyword Search" />
                        </span>
                    </div>
                </template>
                <Column expander style="width: 5rem" />
                <Column field="displayName" header="Name" filterField="displayName" sortable style="min-width: 12rem;">
                    <template #editor="{ data, field }">
                        <InputText v-model="data[field]" />
                    </template>
                </Column>
                <Column field="email" header="Email" filterField="email" sortable style="min-width: 12rem">
                    {data[field]}
                </Column>
                <Column field="phone" header="Phone" sortable style="min-width: 12rem">
                    {data[field]}
                </Column>
                <Column field="location" header="Location" filterField="gameLocation" sortable style="min-width: 12rem">
                    {data[field]}
                </Column>
                <Column field="dateBooked" header="Date Booked" sortable style="min-width: 12rem">
                    {data[field]}
                </Column>
                <Column field="gameDate" header="Game Date" sortable style="min-width: 12rem">
                    {data[field]}
                </Column>
                <Column field="startTime" header="Start Time" sortable style="min-width: 12rem">
                    {data[field]}
                </Column>
                <Column field="gameLength" header="Duration" sortable style="min-width: 12rem">
                    {data[field]}
                </Column>
                <Column field="goaliesNeeded" header="Quantity" sortable style="min-width: 12rem">
                    {data[field]}
                </Column>
                <Column field="difficulty" header="Difficulty" sortable style="min-width: 12rem">
                    {data[field]}
                </Column>
                <Column field="GameType" header="Game Type" sortable style="min-width: 12rem">
                    {data[field]}
                </Column>
                <Column field="amountCharged" header="Amount Charged" sortable style="min-width: 12rem">
                    {data[field]}
                </Column>
                <Column field="revenueAmount" header="Revenue Amount" sortable style="min-width: 12rem">
                    {data[field]}
                </Column>
                <template #expansion="slotProps">
                    <div class="p-3">
                      <h5>Goalies Requested</h5>
                      <DataTable :value="slotProps.data.goalies">
                        <template v-for="(goalie, index) in slotProps.data.goalies" :key="index">
                          <Column field="displayName" header="Goalie Name" sortable style="width: 5rem">
                            <template #body="slotProps">
                              <button 
                                @click="confirmGoalie(goalie)"
                                class="p-button p-button-success"> Confirm Goalie
                              </button>
                            </template>
                          </Column>
                        </template>
                        <Column field="displayName" header="Goalie Name" sortable style="width: 5rem"></Column>
                        <Column field="email" header="Goalie Email" sortable style="width: 5rem"></Column>
                        <Column field="phone" header="Goalie Phone" sortable style="width: 5rem"></Column>
                      </DataTable>
                    </div>
                  </template>
            </DataTable>
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->